@page "/"
@using System.Diagnostics
@inject ISSService ISSService

<PageTitle>ISS Tracker</PageTitle>

<h1>ISS Current Position</h1>

<div>
    Latitude: @position?.Latitude.ToString("0.0000")
</div>
<div>
    Longitude: @position?.Longitude.ToString("0.0000")
</div>
<div>
    Last Updated: @position?.Timestamp.ToString("HH:mm:ss")
</div>

<button @onclick="GetPosition" class="btn btn-primary">
    Refresh Position
</button>

@code {
    private ISSPosition? position;

    protected override async Task OnInitializedAsync()
    {
        await GetPosition();
    }

    private async Task GetPosition()
    {
        Debug.WriteLine("Reset pos");
        position = await ISSService.GetCurrentPosition();
        StateHasChanged();
    }
}